/* body {
    all: none;
} */

.video-card {
    background-color: black;
    overflow: hidden;
    /* width: 600px; */
    height: 420px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.video-card__video {
    height: 330px;
    width: 100%;
    color: white;
    border-radius: 10px 10px 0 0;
}

.video-card__question-box {
    width: 100%;
    height: 90px;
    background-color: #c4c4c4;
    border-radius: 0 0 10px 10px;
    display: flex;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-card__question-box .video-card__question-square {
    width: 12px;
    height: 12px;
    background-color: pink;
}

.video-card__question-box .video-card__question-text {
    /* margin: 2px; */
    text-align: center;
    line-height: 1.2rem;
    padding: 15px;
    font-weight: 600;
    color: #1d1d1f;
}