.videoQuestion__title {
    text-align: center;
    margin-bottom: 50px;
}

.videoQuestion__videoContent {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.videoQuestion__sendButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.videoQuestion__sendButton button {
    background: #ed4040;
    padding: 15px 50px;
    border: 0;
    border-radius: 8px;
    color: white;
    position: relative;
    transition: 0.2s;
    bottom: 0;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
}

.videoQuestion__sendButton button:active {
    bottom: 2px;
}

.videoQuestion__sendButton button:disabled:active {
    bottom: 0;
}


.videoQuestion__sendButton button:disabled {
    opacity: 0.4;
}